body {
    font-family:'IRANSans';
    src: url('../fonts/IRANSans.woff');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSans.woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'IRANSans';
    src: url('../fonts/IRANSans.woff');
    font-weight: 300;
    font-style: normal;
}
